html, body{
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #353535;
	font-size: 16px;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
}

/* GENERAL */
h1, h2, h3, h4, h5 {
	font-family: 'Oswald', sans-serif;
}
p, li {
	line-height: 1.5rem;
}
a {
	text-decoration: none;
}
.title-section{
	font-size: 3rem;
}
.paraph-section{
	font-size: 1.2rem;
	line-height: 2rem;
}
hr.black{
	background-color: #353535;
	width: 50%;
	height: 2px;
	margin: 30px auto;
}
.align-right{
	text-align: right;
}
.align-center{
	text-align: center;
}
.float-right{
	display: inherit;
	margin-left: 100%;
}
.button-center{
	display: block !important;
	margin: 20px auto !important;
	max-width: 100px;
	text-align: center;
}
.container {
	max-width: 900px;
	margin: 0 auto;
}

/* BUTTONS */
.button {
	display: inline-block;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 50px;
	padding: 1rem 2.5rem;
	margin: 1rem;
}
.button.primary {
	background-color: white;
	color: #353535;
}
.button.primary:hover {
	background-color: #DFB70C;
	color: white;
}
.button.secondary {
	background-color: #DFB70C;
	color: white;
}
.button.secondary:hover {
	background-color: #353535;
}

/* MENU MOBILE */
.menu-mobile-content{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	background-color: #004C75;
	color: white;
	padding-top: 50px;
	z-index: 1001;
}
.menu-mobile-content ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-mobile-content ul>li{
	margin-bottom: 30px;
}
.menu-mobile-content ul>li>a{
	display: block;
	width: 80%;
	background-color: white;
	color: #004C75;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3pt;
	margin: 0 auto;
	padding: 5%;
	box-sizing: border-box;
	border-radius: 50px;
}
.button-close{
	background-color: #f6546a !important;
	color: white !important;
}

/* NAVBAR */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	padding: 1rem;
	z-index: 1000;
}
.navbar-scroll {
	background-color: #004C75 !important;
}
.navbar .logo img{
	width: auto;
	max-height: 80px;
}
.navbar .logo img:hover{
	transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-o-transform: scale(0.95);
}
.navbar .logo-scroll img{
	width: auto;
	max-height: 50px;
}
.navbar .menu ul{
	list-style: none;
	margin: 0;
	text-align: right;
}
.navbar .menu ul > li{
	display: inline-block;
	margin-left: 2rem;
}
.navbar .menu ul > li > a{
	font-size: 1rem;
	color: white;
	text-transform: uppercase;
}
.navbar .menu ul > li > a:hover{
	color: #DFB70C;
}
.navbar .menu i{
	color: white;
	font-size: 1.5rem;
}
.navbar .menu-mobile{
	display: none;
}
.navbar .menu-mobile a{
	background-color: white;
	color: #004C75;
	font-size: 0.7rem;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0.7rem 1.5rem;
	border-radius: 50px;
}

/* SPLASH */
.splash {
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url('../assets/splash.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
.splash h1 {
	color: white;
	font-size: 3.5rem;
	margin-bottom: 0;
}
.splash h2 {
	color: white;
	font-size: 2rem;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 30px;
}
.splash hr {
	background-color: white;
	width: 50%;
	height: 2px;
	margin: 50px auto;
}

/* ABOUT */
.about{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5rem 0;
	text-align: center;
}

/* FEATURES */
.features{
	background: url(../assets/features.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
.features .inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.features .inner > div {
	padding: 5rem 2rem;
}
.features ul{
	list-style: none;
	margin: 0;
	margin-top: 20px;
	padding: 0;
}
.features .item-1{
	background-color: rgba(223, 183, 12, 0.80);
	text-align: center;
}
.features .item-2{
	background-color: rgba(114, 192, 198, 0.80);
	text-align: center;
}
.features .item-2 .values {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.features .item-1 h3,
.features .item-2 h3,
.features .item-1 p,
.features .item-2 p,
.features .item-1 li,
.features .item-2 li{
	color: white;
}
.features .item-1 h3,
.features .item-2 h3{
	font-size: 2rem;
	margin-bottom: 10px;
}
.features .item-1 p,
.features .item-2 p{
	margin-bottom: 50px;
}

/* SERVICES */
.services{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F7F7F7;
	padding: 5rem 0;
	text-align: center;
}

/* SERVICES ICONS */
.services-icons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2rem;
}
.services-icons > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem 1rem;
	border: 1px solid #dddddd;
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.15);
}
.services-icons > div:hover {
	border-radius: 70px;
}
.services-icons > div i {
	font-size: 3rem;
	color: #004c75;
}
.services-icons > div a {
	color: #353535;
}

/* CONTACT */
.contact {
	background: url('../assets/contact.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
.contact .intro {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.70);
	color: white;
	padding: 3rem 0;
	text-align: center;
}
.contact .items {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.contact .items h3 {
	font-size: 2rem;
}
.contact .items > div {
	padding: 3rem;
}
.contact .items .form {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background-color: rgba(223,183,12,0.8);
	color: white;
}
.contact .items .form input[type="text"],
.contact .items .form input[type="email"],
.contact .items .form input[type="submit"],
.contact .items .form textarea {
	display: block;
	min-width: 100%;
	border: none;
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: 5px;
}
.contact .items .form input[type="submit"] {
	background-color: #353535;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
}
.contact .items .form input[type="submit"]:hover {
	background-color: #5a5a5a;
}
.contact-msg{
    display: block;
}
.success-msg{
    background-color: green;
    color: white;
    padding: 10px;
}
.fail-msg{
    background-color: red;
    color: white;
    padding: 10px;
}
.contact .items .info {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background-color: rgba(0,76,117,0.8);
	color: white;
}
.contact .items .info a {
	display: block;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
	font-size: 1.2rem;
	padding: 1rem 2rem;
	margin-bottom: 1rem;
	border: 1px solid white;
	border-radius: 5px;
}
.contact .items .info a:hover {
	background-color: rgba(255, 255, 255, 0.4);
}
.contact .items .info a > i {
	margin-right: 1rem;
}

/* FOOTER */
.main-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #72C0C6;
	color: white;
	padding: 3rem 1rem;
}
.main-footer p,
.main-footer a,
.main-footer li {
	color: white;
}
.main-footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-footer .inner {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

/* PAGES */
.page-header{
	min-height: 350px;
	background: linear-gradient(#004c75, #72c0c6);
	text-align: center;
	padding: 130px 1rem 1rem 1rem;
}
.page-header h1{
	font-size: 2.5rem;
	color: white;
}
.page-content{
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
}
.dual-card {
	display: grid;
	grid-template-columns: 30% 70%;
	gap: 1rem;
	padding: 1rem;
	margin-bottom: 3rem;;
	border-left: 5px solid #004c75;
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
}
.dual-card .title {
	text-align: center;
}
.dual-card .title h2 {
	font-size: 1.7rem;
	color: #004c75;
}
.dual-card .title i {
	font-size: 4rem;
	color: #e4e4e4
}
.dual-card .info {
	padding: 0 1rem;
}

@media only screen and (max-width: 768px) {
	.container {
		max-width: 100%;
		padding: 0 1rem;
	}

	/* NAVBAR */
	.navbar .logo img{
		height: 50px;
	}
	.navbar .menu{
		display: none;
	}
	.navbar .menu-mobile{
		display: block;
	}

	/* SPLASH */
	.splash {
		padding-top: 70px;
	}
	.splash h1{
		font-size: 2.5rem;
	}
	.splash hr {
		margin: 30px auto;
	}

	/* ABOUT */
	.about {
		padding: 3rem 0;
	}

	/* FEATURES */
	.features .inner {
		display: block;
	}
	.features .inner > div {
		padding: 3rem 1rem;
	}
	.features .item-2 .values {
		grid-template-columns: 1fr;
	}

	/* SERVICES */
	.services {
		padding: 3rem 1rem;
	}
	.services-icons {
		grid-template-columns: 1fr;
	}

	/* CONTACT */
	.contact .items {
		display: block;
	}
	.contact .items > div {
		padding: 3rem 1rem;
	}

	/* FOOTER */
	.main-footer .inner {
		grid-template-columns: 1fr;
	}

	/* PAGES */
	.page-header {
		min-height: 250px;
		padding-top: 100px;
	}
	.page-header h1{
		font-size: 2rem;
	}
	.dual-card {
		grid-template-columns: 1fr;
		border-top: 5px solid #004c75;
		border-left: none;
	}
}